 @page "/help"  
<div style="border-bottom: 1px solid #DADADA;margin-top: 17px;">
         <div class="fix_screen">          
        <div class="row" style="margin-top:10px">
          <h1 style="font-size:30px;text-align:center"><b >HƯỚNG DẪN MUA HÀNG</b> </h1> 
            <div class="col-1">
             </div>
             <div class="col-10">
                 <b>BƯỚC 1 : TRƯỚC TIÊN BẠN HÃY ĐĂNG NHẬP, NẾU CHƯA CÓ TÀI KHOẢN,VUI LÒNG CHỌN ĐĂNG KÝ</b>
                <img src="help/buy1.jpg" style="width:100%" />
                <b>BƯỚC 2 : SAU KHI ĐÃ ĐĂNG KÝ THÀNH CÔNG, BẠN ĐĂNG NHẬP BẰNG TÀI KHOẢN VỪA TẠO</b>
                 <img src="help/buy2.jpg" style="width:100%"  />
                 <b>BƯỚC 3 :SAU KHI ĐĂNG NHẬP THÀNH CÔNG , BẠN TIẾP TỤC LỰA CHỌN MÓN ĐỒ CẦN MUA </b>
                 <img src="help/buy3.jpg" style="width:100%" />
                  <b>BƯỚC 4 : BẠN CÓ THỂ MUA HÀNG BẰNG 2 HÌNH THỨC DƯỚI ĐÂY </b><br />
                  <b>HÌNH THỨC 1: SAU KHI CHỌN SIZE, MÀU VÀ SỐ LƯỢNG BẠN TIẾN TỚI MUA NGAY</b>
                 <img src="help/buy4.jpg" style="width:100%" />
                 <b>BƯỚC 4.1 : KIỂM TRA THÔNG TIN ĐƠN HÀNG CẦN MUA, PHƯƠNG THỨC THANH TOÁN, SAU KHI KIỂM TRA XONG THỰC HIỆN XÁC NHẬN ĐẶT HÀNG </b>
                  <img src="help/buy5.jpg" style="width:100%" />
                  <b>BƯỚC 4.2 :HÌNH THỨC 2: SAU KHI CHỌN SIZE, MÀU VÀ SỐ LƯỢNG BẠN CHỌN THÊM VÀO GIỎ HÀNG</b><br />
                 <b>SAU KHI ĐÃ THÔNG BÁO THÊM VÀO GIỎ HÀNG THÀNH CÔNG, BẠN CLICK VÀO GIỎ HÀNG</b> 
                  <img src="help/buy.jpg" style="width:100%" />
                 <b>BƯỚC 4.2.1 :TRONG PHẦN GIỎ HÀNG NÀY BẠN CHỌN SẢN PHẦM MÀ BẠN CẦN MUA, KIỂM TRA THÔNG TIN VÀ TIẾN TỚI XÁC NHẬN ĐƠN HÀNG </b><br />
                 <img src="help/buy6.jpg" style="width:100%" />
                 <b>BƯỚC 4.2.2 : BƯỚC CUỐI CÙNG BẠN KIỂM TRA LẠI THÔNG TIN ĐƠN HÀNG VÀ THÊM PHƯƠNG THỨC THANH TOÁN, SAU ĐÓ TIẾN HÀNH ĐẶT HÀNG</b>
                  <img src="help/buy7.jpg" style="width:100%" />
                  <h1 style="font-size:30px;text-align:center"><b >KẾT THÚC QUÁ TRÌNH MUA HÀNG, CHÚC BẠN MUA HÀNG VUI VẺ</b> </h1> 
            </div>
             </div>          
        </div>
    </div>
