 @page "/helpchangepass"  
<div style="border-bottom: 1px solid #DADADA;margin-top: 17px;">
         <div class="fix_screen">               
        <div class="row" style="margin-top:10px">
             <h1 style="font-size:30px;text-align:center"><b >HƯỚNG DẪN CÁCH ĐỔI MẬT KHẨU</b> </h1> 
            <div class="col-1">
             </div>
             <div class="col-10">             
                <b>BƯỚC 1 : BẠN NHẤP VÀO PHẦN THÔNG TIN</b>
                <img src="help/anh1.png" style="width:100%" />
                <b>BƯỚC 2 : BẠN CHỌN TỚI PHẦN ĐỔI MẬT KHẨU</b>
                 <img src="help/anh2.png" style="width:100%"  />
                 <b>BƯỚC 3 : ĐIỀN MẬT KHẨU MỚI , SAU KHI ĐIỀN XONG NHẤN LƯU ĐỂ XÁC NHẬN => HOÀN TẤT THAY ĐỔI MẬT KHẨU</b>
                 <img src="help/anh3.png" style="width:100%" />
            </div>
              <div class="col-1">
             </div>
             </div>          
        </div>
    </div>
