/StoreEcommerce/.vs
/StoreEcommerce/LibraryStoreEcommerce/bin
/StoreEcommerce/LibraryStoreEcommerce/obj
/StoreEcommerce/StoreEcommerce/bin
/StoreEcommerce/StoreEcommerce/obj
/StoreEcommerce/StoreEcommerceaApi/bin
/StoreEcommerce/StoreEcommerceaApi/obj
/StoreEcommerce/AdminStoreEcommerce/bin
/StoreEcommerce/AdminStoreEcommerce/obj
